$font: "Unbounded", sans-serif;

$accent: #7027e2;
$light: #fff;
$dark: #2a2f36;
$gray: #ededed; 

$tr: .3s;

$r_desk: 1024px;   // Небольшой ноут
$r_desk_full_over: 1600px;
$r_desk_full: 1500px;
$r_desk_wxga: 1366px; //лаптоп
$r_tab: 768px;    // Планшет
$r_mobile_660: 660px;
$r_mobile_500: 500px;
$r_mobile_400: 400px;
$r_mobile_360: 360px;
