@use 'functions' as *;
@use 'font.scss' as *;
@use 'var.scss' as *;
@import 'normalize.css';


body{
  font-family: $font;
  font-weight: 400;
  background-color: #1F2023;
  color: $light;
  overflow-x: hidden;
  box-sizing: border-box;
  line-height: 110%;
}
a{
  text-decoration: none;
}
.course__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-h2{
  font-weight: 700;
  font-size: rem(32);
  letter-spacing: 0.05em;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  @media (width <= $r_desk){
    font-size: clamp(rem(26), 2.343vw, rem(32));
  }
  @media (width <= $r_mobile){
    font-size: clamp(rem(18), 2.343vw, rem(26));
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: rem(71);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  @media (width <= $r_tab){
    height: rem(66);
  }
  @media (width <= $r_mobile){
    height: rem(61);
  }

  &::before{
    content: '';
    display: block;
    height: rem(27);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $accent;
    @media (width <= $r_tab){
      top: rem(-2);
    }
    @media (width <= $r_mobile){
      height: rem(62.6);
    }
  }
  &__logo{
    background-color: $accent;
    padding: rem(17) rem(45) 0 rem(45);
    border-radius: rem(10) 0 0 0;
    position: relative;
    @media (width <= $r_desk){
      padding: rem(17) rem(20) 0 rem(20);
    }

    &::after{
      content: '';
      display: block;
      width: rem(68);
      height: rem(71);
      background-image: url(../images/header-left.svg);
      position: absolute;
      right: rem(-68);
      top: 0;
      @media (width <= $r_tab){
        height: rem(66);
        background-size: contain;
        background-repeat: no-repeat;
      }
      @media (width <= $r_mobile){
        display: none;
      }
    }

      &::before{
      content: '';
      display: block;
      width: rem(24);
      height: rem(24);
      background-image: url(../images/header-bottom-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: rem(-24);}

      }
      &__info{
        padding: rem(17) rem(45) 0 rem(45);
        border-radius: 0 rem(10) 0 0;
        position: relative;
        background-color: $accent;
        @media (width <= $r_desk){
          padding: rem(17) rem(20) 0 rem(20);
        }
        @media (width <= $r_tab){
          padding: rem(20) rem(20) 0 rem(20);
        }
        &::after{
      content: '';
      display: block;
      width: rem(68);
      height: rem(71);
      background-image: url(../images/header-right.svg);
      position: absolute;
      top: 0;
      left: rem(-68);
          @media (width <= $r_tab){
            height: rem(66);
            background-size: contain;
            background-repeat: no-repeat;
            left: rem(-62);
          }
          @media (width <= $r_mobile){
            display: none;
          }
    }
      &::before{
      content: '';
      display: block;
      width: rem(24);
      height: rem(24);
      background-image: url(../images/header-bottom-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: rem(-24);
    }
      }
  &__link{
    color: $light;
    font-size: rem(20);
    padding-bottom: rem(5);
    border-bottom: rem(1) solid $light;
    transition: $tr;
    @media (hover: hover){
      &:hover{
        border-bottom: rem(1) solid transparent;
      }
    }
    @media (width <= $r_tab){
      font-size: clamp(rem(10), 1.470vw + 0.3rem, rem(16));
    }
  }

}
.logo{
  &._max{
    svg{
      width: rem(400);
      height: rem(30.63);
      @media (width <= $r_desk){
        width: clamp(rem(300), 39vw, rem(400));
      }
      @media (width <= $r_mobile){
        width: clamp(rem(150), 39vw, rem(300));
      }
    }
  }
  &._min{
    svg{
      width: rem(296);
      height: rem(22);
    }
  }
}

.container{
  width: 100%;
  max-width: rem(1830);
  margin: 0 auto;
  padding-left: rem(45);
  padding-right: rem(45);
  padding-top: rem(10);
  box-sizing: border-box;
  overflow-x: hidden;
  @media (width <= $r_desk){
    padding-left: rem(20);
    padding-right: rem(20);
  }
  @media (width <= $r_mobile_360){
    padding-left: rem(15);
    padding-right: rem(15);
  }
}

.banner{
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: rem(50);
  padding: rem(100) rem(45);
  margin-top: rem(135);
  gap: rem(50);
  @media (width <= $r_desk_full){
    flex-direction: column;
    padding: rem(80) rem(40);
  }
  @media (width <= $r_desk){
    padding: clamp(rem(30), calc(rem(-40) + 1.17vw), rem(50)) clamp(rem(30), calc(rem(0) + 0.39vw), rem(40));

  }
  @media (width <= $r_desk){
    padding: rem(20) rem(15);
  }
  @media (width <= $r_mobile){
    margin-bottom: rem(50);
  }

  &__main{
    flex-basis: 61%;
  }
  &__info{
    flex-basis:calc(39% - rem(50));
    @media (width <= $r_desk_full){
      display: grid;
      gap: rem(20);
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width <= $r_mobile){
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }
  &__title{
    font-size: rem(64);
    font-weight: 700;
    font-family: $font;
    margin-top: 0;
    margin-bottom: rem(20);
    line-height:110%;
    @media (width <= $r_desk_full){
      font-size: clamp(rem(50), 4vw + 1rem, rem(64));
    }
    @media (width <= $r_desk){
      font-size: clamp(rem(40), 3.906vw + 0.625rem, rem(50));
    }
    @media (width <= $r_mobile){
      font-size: clamp(rem(25), 3.906vw + 0.625rem, rem(40))
    }
  }

  &__main{
      margin-left: rem(50);
    @media (width <= $r_desk_full){
      margin-left: 0;
    }
    }

    &__btn{
  display: block;
  width: 100%;
  margin-top: rem(145);
  border-radius: rem(20);
  padding: rem(30);
  background-color: $accent;
  font-weight: 600;
  font-size: rem(20);
  color: $light;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: rem(1) solid $accent;
  transition: $tr;
    cursor: pointer;
    @media(hover: hover){
      &:hover{
        background-color: transparent;
      }
    }
      @media (width <= $r_desk_full){
        margin-top: rem(50);
      }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: rem(151);
    border: rem(1) solid $light;
    border-radius: rem(20) 0 0 rem(20);
    border-right: none;
    margin-right: rem(80);
    position: relative;
    margin-bottom: rem(19);
    box-sizing: border-box;
    /* transition: $tr; */
    overflow: visible;
    z-index: 1;

    &::before{
      content: '';
      display: block;
      width: 0;
      height: rem(151);
      background-color: $accent;
      border-left: rem(1) solid $accent;
      position: absolute;
      top: rem(-1);
      right: 0;
      border-radius: rem(20) 0 0 rem(20);
      z-index: -1;
      opacity: 0;
      transition: $tr;
      transform: scale(0);
      transform-origin: top right;
    }
    @media (hover: hover){
      &:hover{
      &::before{
        width: 100%;
        transform: scale(1);
        opacity: 1;
        /* border-right: 1px solid $accent; */
      }
      .banner__decor{
        background-color: $accent;
        border-color: $accent;
        &::after{
        opacity: 1;
        transform: scale(1);
        }
      }
      }
    }
    @media (width <= $r_desk - 24px){
      border-right: rem(1) solid $light;
      border-radius: rem(20);
      margin-right: 0;
      justify-content: center;
      &:hover{
        &::before{
          display: none;
        }
      }

    }
  }
  &__text{
      font-weight: 200;
      font-size: rem(24);
      padding: rem(30);
      margin: 0;
      line-height: 110%;
      span{
        display: block;
        font-weight: 700;
        font-size: rem(32);
        margin-top: rem(20);
        line-height: 110%;
      }
    @media (width <= $r_desk - 24px){
      padding: rem(20) rem(20) rem(20) rem(100);
      font-size: clamp(rem(18), 2.343vw, rem(24));
      span{
        font-size: clamp(rem(20), 2.687vw, rem(32));
      }
    }

    }
  &__decor{
    display: flex;
    content: '';
    position: relative;
    transition: $tr;
    &::before{
      display: block;
      content: '';
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: rem(-150);
      right: rem(-79);
      width: rem(80);
      height: rem(151);
      @media (width <= $r_desk - 24px){
        display: none;
      }
    }

    &::after{
      display: block;
      content: '';
      transform: scale(0);
      transform-origin: top left;
      background-image: url(../images/banner-info-decor-accent.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: rem(-150);
      right: rem(-79);
      width: rem(80);
      height: rem(151);
      opacity: 0;
      transition: $tr;
      @media (width <= $r_desk - 24px){
        display: none;
      }
    }
    &._calendar, &._offline, &._age, &._payment{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: rem(-151);
      right: rem(-80);
      border: rem(1) solid $light;
      width: rem(50);
      height: rem(50);
      border-radius: rem(10);
      transition: $tr;
      @media (width <= $r_desk - 24px){
        top: calc(rem(-75) - 1vw);
        left: rem(32);
      }

    }
    }
  }

.banner-box{
  position: relative;
  border: rem(1) solid $light;
  border-radius: rem(20);
  padding: rem(30) rem(300) rem(30) rem(30);
  @media (width <= $r_desk_full_over){
    padding-right: clamp(rem(200), 17vw, rem(332));
  }
  @media (width <= $r_mobile){
    padding: rem(65) rem(15) 0;
  }
  &__title{
    font-size: rem(24);
    font-weight: 400;
    padding-bottom: rem(12);
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: rem(1.2);
    @media (width <= $r_mobile){
      font-size: clamp(rem(18), 3.687vw, rem(24));
    }
  }
  &__text{
  line-height: 150%;
  font-weight: 400;
  font-size: rem(20);
  margin-top: 0;
  margin-bottom: rem(30);
    @media (width <= $r_mobile){
      font-size: clamp(rem(14), 3.687vw, rem(20));
    }
  }
  &__img{
  position: absolute;
  &._electroguitar{
  top: -25%;
  right: -3%;

    @media (width <= $r_desk_full_over){
      top: inherit;
      bottom: rem(156);
      width: clamp(rem(252), 22vw, rem(332));
    }
    @media (width <= $r_desk_full){
      top: rem(-56);
      bottom: inherit;
    }
    @media (width <= $r_mobile){
      display: none;
    }
  }
}
}

.tag-wrapper{
  display: flex;
  width: 100%;
  max-width: rem(1830);
  overflow-x: hidden;
  margin: clamp(rem(80), 9.77vw, rem(150)) 0;
  @media (width <= $r_mobile){
    display: none;
  }
}

.tag{
  display: flex;
  gap: rem(64);
  white-space: nowrap;
  animation: move-left 20s linear infinite;
  @media (hover: hover){
  &:hover{
    animation-play-state: paused;
  }}
  &__text{
    border: rem(1) solid $light;
    border-radius: rem(50);
    width: 100%;
    padding: rem(10) rem(20);
    position: relative;
    font-size: rem(24);
    font-weight: 100;
    &::before{
      content: '';
      display: block;
      background-color: $accent;
      width: rem(16);
      height: rem(16);
      position: absolute;
      border-radius: 100%;
      left: rem(-40);
      top: calc(50% - rem(8));
    }
  }
}
@keyframes move-left {
  0% {
    transform: translate(110%, 0);
  }
  100% {
    transform: translate(-105%, 0);
  }
}
.course{
  display: flex;
  gap: rem(70);
  width: 100%;
  @media (width <= $r_desk_full){
    flex-direction: column;
    gap: rem(30);
  }
  &__title{
    display: block;
    flex-basis: rem(395);
    @media (width <= $r_desk_full){
      flex-basis: auto;
      display: flex;
      justify-content: space-between;
    }
  }
  &__content{
    flex-basis: calc(100% - rem(395) - rem(70));
    width: calc(100% - rem(395) - rem(70));
    @media (width <= $r_desk_full){
      flex-basis: auto;
      width: 100%;
    }
  }
}

.course-control{
  display: flex;
  align-items: center;
  gap: rem(20);
  @media (width <= $r_mobile){
    gap: rem(10);
  }
  &__prev, &__next{
    width: rem(70);
    height: rem(70);
    border: rem(1) solid $light;
    border-radius: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: $tr;
    right: inherit;
    left: inherit;
    margin-top: rem(20);
    @media (width <= $r_mobile){
      width: rem(40);
      height: rem(40);
    }
    &::after{
      content: '';
      display: flex;
      align-items: center;
      gap: rem(20);
      width: rem(49);
      height: rem(24);
      background-repeat: no-repeat;
      background-size: contain;
      @media (width <= $r_mobile){
        width: rem(27);
        height: 1rem;
      }
    }
    @media (hover: hover){
    &:hover{
      background-color: $accent;
      border-color: $accent;
    }
  }
    @media (width <= $r_desk_full){
      margin-top: 0;
    }
  }
  &__prev{
    &::after{background-image: url(../images/ui/arrow-prev.svg);
      position: inherit;
    }
  }
  &__next{
    &::after{background-image: url(../images/ui/arrow-next.svg);
      position: inherit;
    }
  }
}

.slider-teacher{
  &__item{
    height: min(rem(707), 47vw);
    background-color: $dark;
    border: rem(1) solid $dark;
    position: relative;
    border-radius: rem(50);
    overflow: hidden;
    box-sizing: border-box;
    transition: $tr;
    z-index: 2;
   @media (hover: hover){
    &:hover{
      border: rem(1) solid $accent;
      .slider-teacher__name, .slider-teacher__grid{
        opacity: 1;
      }
    }
   }
    @media (width <= $r_desk_full){
      height: min(rem(672), 47vw);
    }
    @media (width <= $r_mobile){
      border: rem(1) solid $accent;
    }
    @media (width <= $r_mobile) {
      height: min(rem(333), 47vw);

    }
    @media (width <= $r_mobile_550){
      /*width: min(rem(157), 47vw);*/
      height: 70vw;
      margin: 0 auto;
    }
  }
  &__grid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: $tr;
    opacity: 0;
  }
  &__img{
    width: 100%;
    height: min(rem(637), 47vw);
    object-fit: cover;
    position: absolute;
    bottom: 0;
    @media (width <= $r_desk_full){
      height: min(rem(615), 43vw);
    }
    @media (width <= $r_mobile_550){
      height: 66vw;
    }

  }
  &__name{
    position: absolute;
    width: 100%;
    bottom: rem(30);
    left: rem(30);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: clamp (rem(16), 0.892vw, rem(24));
    opacity: 0;
    transition: $tr;
    z-index: 1;
    @media (width <= $r_desk_full){
      text-align: center;
      left: 0;
    }
    &._desktop{
      @media (width <= $r_tab){
        display: none;
      }
    }
    &._mobile{
      display: none;
      font-size: rem(12);
      position: inherit;
      bottom: inherit;
      left: inherit;
      opacity: 1;
      margin-top: rem(8);
      &::before{
        display: none;
      }
      @media (width <= $r_tab){
        display: block;
      }
    }
    &::before{
      content: '';
      display: block;
      width: 100%;
      height: min(rem(637), 47vw);;
      background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%) no-repeat;
      position: absolute;
      left: rem(-30);
      bottom: rem(-30);
      z-index: -1;
      @media (width <= $r_desk_full){
        height: min(rem(615), 43vw);
        left: 0;
      }
    }
  }
}

.accordion{
  &__btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: rem(50);
    margin-bottom: rem(20);
    border: rem(1) solid $accent;
    border-radius: rem(20);
    padding: rem(20) rem(25) rem(20) rem(30);
    color: $accent;
    font-size: clamp(rem(20), 4.687vw + 0.5rem, rem(32));
    cursor: pointer;
    @media (width <= $r_mobile){
      font-size: clamp(rem(14), 3.475vw, rem(20));
    }
    &:focus {
      outline: rem(2) solid $accent;
      outline-offset: rem(2);
    }
    &::after{
      content: '';
      display: block;
      width: rem(50);
      height: rem(50);
      background-image: url(../images/ui/minus.svg);
    }
    &.active{
      &::after{
        background-image: url(../images/ui/plus.svg);
      }
    }
  }
  &__panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    border: rem(1) solid $light;
    background-color: $light;
    border-radius: rem(20);
  }
  &__item{
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: rem(26);
    font-weight: 200;
    padding: rem(30) rem(50);
    color: $dark;

    &::before{
      content: '—';
    }
    @media (width <= $r_mobile){
      font-size: clamp(rem(14), 3.475vw, rem(20));
      padding: rem(20) rem(15);
    }
  }
}

.steps{
  border: rem(1) solid $light;
  border-radius: rem(50);
  max-width: rem(1920);
  padding-top: rem(150);
  padding-bottom: rem(150);
  margin: rem(150) auto 0;
  background: linear-gradient(180deg, #1f2023 0%, #7027E2 50%, #1f2023 100%);
  @media (width <= $r_desk_full){
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
  @media (width <= $r_mobile){
    margin: rem(50) auto 0;
    padding-top: rem(80);
    padding-bottom: rem(20);
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30);
    margin-top: rem(50);
    @media (width <= $r_desk_full){
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(rem(20), 3.906vw, rem(30));
    }
    @media (width <= $r_mobile){
      grid-template-columns: 1fr;
      margin-top: rem(20);

    }
  }
    &__item{
      border: rem(1) solid $light;
      border-radius: rem(50);
      padding: rem(30);
      background-color: $light;
      color: $dark;
      font-size: rem(16);
      letter-spacing: -0.008em;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      @media (hover: hover){
        &:hover {
    transform: translateY(rem(-5));
    box-shadow: 0 rem(10) rem(20) rgba(0,0,0,0.2);
  }
      }
      
    }
}

.result{
  margin-top: rem(150);
  margin-bottom: rem(250);
  container-type: inline-size;
  container-name: result;
  @media (width <= $r_mobile){
    margin-top: rem(50);
    margin-bottom: rem(50);
  }
  @container result (max-width: 935px){
    .result__list{
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: rem(140);
    }
    .result__item._subgrid{
      grid-column: inherit;
      grid-template-columns: inherit;
    }
    .result__item{
      @media (hover: hover){
        &:hover {
          transform: inherit;
          box-shadow: inherit;
        }
      }
    }
    .result__btn{
      width: 100%;
      grid-column: inherit;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  @container result (max-width: 600px){
    .result__btn{
      font-size: clamp(rem(14), 3cqi, rem(20));
    }
  }
  @container result (max-width: 450px){
    .result__list{
      grid-template-columns: 1fr;
      padding-bottom: rem(110);
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30);
    margin-top: rem(50);
    position: relative;
    @media (width <= $r_tab){
      gap: rem(20);
    }
  }
  &__item{
    background-color: $light;
    border-radius: rem(20);
    padding: rem(30);
    transition: $tr;
    @media (width <= $r_desk){
      padding: clamp(rem(20), 2.8vw, rem(30));
    }
    @media (hover: hover){
      &:hover {
    transform: translateY(rem(-5));
    box-shadow: 0 rem(10) rem(20) rgba(0,0,0,0.2);
    }
  }
    &._subgrid{
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      grid-template-rows: rem(130);
      @media (width <= $r_desk){
        grid-template-rows: inherit;
      }
    }
  }
  &__text{
    color:$dark;
    font-size: rem(16);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
    span{
      font-size: rem(24);
      font-weight: 600;
      line-height: 110%;
      border-radius: rem(10);
      background-color: $accent;
      width: fit-content;
      color: $light;
      padding: rem(10);
    }
  }
  &__btn{
  grid-column: 2 / 4;
  border-radius: rem(20);
  padding: rem(30);
  background-color: $accent;
  font-weight: 600;
  font-size: rem(20);
  color: $light;
  letter-spacing: rem(1);
  text-transform: uppercase;
  border: rem(1) solid $accent;
  transition: $tr;
  align-items: stretch;
    cursor: pointer;
    @media(hover:hover){
      &:hover{
        background-color: transparent;
        color: $accent;
      }
    }
}
}

.areas{
  &__link{
    display: flex;
    padding: rem(30);
    margin-top: rem(50);
    background-color: transparent;
    border-radius: 0;
    border-bottom: rem(1) solid $accent;
    color: $light;
    font-size: rem(32);
    list-style: none;
    line-height: 150%;
    justify-content: space-between;
    align-items: center;
    transition: $tr;
    position: relative;
    margin-bottom: rem(30);
    &:last-child {
    border-bottom: none;
    margin-bottom: rem(150);
      @media (width <= $r_mobile){
        margin-bottom: rem(50);
      }
  }
    &::after{
      content: '';
      display: block;
      background-image: url(../images/ui/arrow-rotate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: rem(40);
      height: rem(40);
      transition: $tr;
    }
    @media (hover: hover){
      &:hover{
      background-color: $accent;
      border-radius: rem(10);
      &::after{
        transform: scale(1.2) rotate(45deg);
      }
      &::before{
        opacity: 1;
        transform: scale(1);
      }
    }
    }
    &::before{
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: rem(769);
        opacity: 0;
        transition: $tr;
        transform: scale(0);
    }
    &._acoustic{
      &::before{
        width: clamp(rem(200), 30vw, rem(514));
        height: clamp(rem(200), 30vw, rem(274));
        background: url(../images/areas/acoustic.png);
        top: calc(50% - rem(157));
        left: 61vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    &._drums{
      &::before{
        width: clamp(rem(200), 30vw, rem(366));
        height: clamp(rem(200), 30vw, rem(421));
        background-image: url(../images/areas/drums.png);
        top: calc(50% - rem(173));
        left: 55vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    &._violin{
      &::before{
        width: clamp(rem(200), 30vw, rem(535));
        height: clamp(rem(200), 30vw, rem(399));
        background-image: url(../images/areas/violin.png);
        top: calc(50% - rem(216));
        left: 55vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    &._bas{
      &::before{
        width: clamp(rem(200), 30vw, rem(528));
        height: clamp(rem(200), 30vw, rem(379));
        background-image: url(../images/areas/bas.png);
        top: calc(50% - rem(197));
        left: 60vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    @media (width <= $r_mobile){
      font-size: clamp(rem(14), 2.470vw, rem(20));
      padding: rem(19) rem(30) rem(19) 0;
    }
  }
}
.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(30);
  background-color: $dark;
  padding: rem(30) rem(50);
  border-radius: rem(20);
  &__logo{
    margin-bottom: rem(30);
  }
  @media (width <= $r_mobile){
    grid-template-columns: 1fr;
    flex-direction: column;
    padding: rem(20) rem(15);
  }
}
.footer__social{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: rem(11);
}
.social{
  &__link{
    display: block;
    width: fit-content;
    max-width: rem(50);
    height: fit-content;
    max-height: rem(50);
    background-color: $light;
    border-radius: rem(10);
    transition: $tr;
    
    @media (hover: hover){
      &:hover{
      background-color: $accent;
      &::after{
        background-color: $light;
      }
    }

    }
    &::after{
      content:'';
      display: block;
      background-color: $accent;
      mask: center center / 100% no-repeat;
      -webkit-mask: center center / 100% no-repeat;
      transition: $tr;
    }
      &._wa{
        padding: rem(7.87) rem(8.37);
        &::after{
          width: rem(28);
          height: rem(28);
          mask-image: url(../images/social/wa.svg);
          -webkit-mask-image: url(../images/social/wa.svg);
        }
      }
    &._vk{
      padding: rem(14.06) rem(6.25) rem(10.94) rem(6.25);
      &::after{
        width: rem(31.25);
        height: rem(18.75);
        mask-image: url(../images/social/vk.svg);
        -webkit-mask-image: url(../images/social/vk.svg);
        }
    }
    &._tg{
      padding: rem(10.94) rem(7.81);
      &::after{
        width: rem(25);
        height: rem(21.88);
        mask-image: url(../images/social/tg.svg);
        -webkit-mask-image: url(../images/social/tg.svg);
        }
    }
  }
  @media (width <= $r_mobile){
    justify-content: start;
  }
}

.footer-info{
  display: flex;
  flex-direction: column;
  @media (width <= $r_mobile){
    grid-column: inherit;
  }
  &__text{
  font-size: clamp(rem(12), 2.947vw, rem(16));
  line-height: 150%;
  margin: 0;
    @media (max-width: $r_mobile){
      margin-top: rem(40);
      &:last-child{
        margin-top: rem(20);
      }
    }
  }
  &__link{
    font-size: clamp(rem(12), 2.947vw, rem(16));
    font-weight: 700;
    line-height: 150%;
    color: $accent;
    transition: $tr;
    box-shadow: 0 rem(4) 0 rem(-3) $accent;
    @media (hover: hover){
      &:hover{
    box-shadow: 0 rem(4) 0 rem(-3) transparent;
    }
    }
  }
}

.footer-copy{
  display: flex;
  align-self: end;
  justify-content: end;
  &__text{
    font-size: clamp(rem(12), 2.947vw, rem(16));
    margin-top: rem(20);
    margin-bottom: 0;
  }
  @media (width <= $r_mobile){
    align-self: start;
    justify-content: start;
  }
}

